nav {
    background-color: #eaae00;
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a los lados y centro */
    align-items: center;
    height: 90px;
    width: 100%;
    padding: 0 20px; /* Espaciado lateral para la barra de navegación */
}

.logo-company {
    height: 50px;
    width: 210px;
}

.menu {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Permite que el menú ocupe el espacio disponible */
    justify-content: center; /* Centra los items dentro del menú */
}

.menu-item {
    color: #fefaf5;
    text-decoration: none;
    margin-right: 50px;
    font-size: 25px;
}

.login-item {
    color: #fefaf5;
    text-decoration: none;
    font-size: 20px;
    margin-right:5px
}

.menu-item:last-child {
    margin-right: 0; 
}

.menu-item:hover {
    font-size: 29px;
    transition: 0.5s;
}

.login-item:hover {
    font-size: 22px;
    transition: 0.5s;
}

.logout {
    margin-left:auto;
}

.logout-item {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logout-item i {
    margin-right: 8px; /* Espacio entre el ícono y el texto */
}

.lupa-button {
    height: 25px;
    width: 25px;
    margin-left: 13px;
    margin-top: 10px;
}

/*  celulares */
@media (max-width: 700px) {
    nav {
        background-color: #eaae00;
        height: 60px;
    }

    .menu {
        display: none;
    }
}
/* tablet */
@media (min-width: 700px) and (max-width: 1000px) {
    .logo-company {
        display: none;
    }

    .menu-item {
        font-size: 20px;
    }
}
