html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

.login-Body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f4f6f9;
}

.login-container {
    display: flex;
    width: 100%;
    max-width: 90%;
    height: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
}

.image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.form-container {
    padding: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-title {
    font-size: 2.5em;
    color: #444;
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
    width: 100%;
}

    .input-group input {
        width: 100%;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 25px;
        font-size: 16px;
        text-align: center;
        background-color: #f7f7f7;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }

        .input-group input:focus {
            border-color: #eaae00;
            outline: none;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        }

.link {
    margin-top: 20px;
    margin-left: 28px;
    text-align: center;
    width: 90%;
}

.link a {
    text-decoration: none;
    color: #6b6a6a;
    font-weight: bold;
}

    .link a:hover {
        color: #eaae00 !important;
        font-weight: bold;
    }


.login-btn {
    width: 90%;
    margin-left: 28px;
    padding: 15px;
    background-color: #eaae00;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

    .login-btn:hover {
        background-color: #d59f00;
    }

.register-Body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f4f6f9;
}

.register-container {
    width: 100%;
    max-width: 50%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.form-container {
    width: 50%;
    margin: 0 auto;
}

.register-title {
    font-size: 2.5em;
    color: #444;
    text-align: center;
}

.inputR-group {
    margin-bottom: 20px;
    width: 100%;
}

    .inputR-group input {
        width: 100%;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 25px;
        font-size: 16px;
        text-align: center;
        background-color: #f7f7f7;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        margin-right: 100px;
    }

        .inputR-group input:focus {
            border-color: #eaae00;
            outline: none;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        }

.register-btn {
    width: 100%;
    padding: 15px;
    background-color: #eaae00;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-left:15px
}

    .register-btn:hover {
        background-color: #d59f00;
    }