@model FrontEnd.Models.RazasViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RazasViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.CodigoRaza)
         
            <div class="form-group">
                <label asp-for="NombreRaza" class="control-label"></label>
                <input asp-for="NombreRaza" class="form-control" />
                <span asp-validation-for="NombreRaza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoMascotaID" class="control-label"></label>
                @Html.DropDownListFor(model => model.TipoMascotaID, new SelectList(Model.TiposMascotas, "CodigoTipoMascota", "NombreTipoMascota"), "--Seleccione Tipo de Mascota--", new { @class = "form-control" })
                <span asp-validation-for="TipoMascotaID" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
