@model FrontEnd.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutExterno";
}

<div class="register-Body">
    <div class="register-container">
        <div class="form-container">
            <div style="margin-bottom:40px;">
                <h1 class="register-title">¡Regístrate!</h1>
            </div>
            <form asp-action="Register" method="post" style="margin-right:30px;">
                <div class="inputR-group">
                    <label for="username">
                        <input type="text" id="username" name="username" asp-for="UserName" placeholder="Ingrese su nombre de usuario" required>
                    </label>
                </div>
                <div class="inputR-group">
                    <label for="email">
                        <input type="email" id="email" name="email" asp-for="Email" placeholder="Ingrese su correo electrónico" required>
                    </label>
                </div>
                <div class="inputR-group">
                    <label for="password">
                        <input type="password" id="password" name="password" asp-for="Password" placeholder="Ingrese su contraseña" required>
                    </label>
                </div>
                <button type="submit" class="register-btn">Registrarse</button>
                <div class="link" style="margin-left:35px;">
                    <a asp-area="" asp-controller="Account" asp-action="Login">¿Ya tienes usuario?</a>
                </div>
            </form>
        </div>
    </div>
</div>

@* <h1>Register</h1>

<h4>UserViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
