<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Veterinaria</title>

    <!--Links de estilos-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swaprel=" stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!--Links hacia las hojas de estilo css-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="icon" type="image/png" href="Img/Logo.png">

</head>
<body>
    <header>
        <nav>
            <div class="menu">
                <a class="menu-item" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

                @if (User.IsInRole("User"))
                {
                    <a class="menu-item" asp-area="" asp-controller="Mascota" asp-action="IndexCliente">Mascotas</a>
                }
                else if (User.IsInRole("Veterinario"))
                {
                    <a class="menu-item" asp-area="" asp-controller="Mascota" asp-action="Index">Mascotas</a>
                }
                else
                {
                    <a class="menu-item" asp-area="" asp-controller="Mascota" asp-action="IndexCliente">Mascotas</a>
                }
                @if (User.IsInRole("User") || User.IsInRole("Veterinario") || User.IsInRole("Admin"))
                {
                    <a class="menu-item" asp-area="" asp-controller="Cita" asp-action="Index">Citas</a>
                }
                @if (User.IsInRole("Admin"))
                {
                    <a class="menu-item" asp-area="" asp-controller="Usuario" asp-action="Index">Admin</a>
                }
            </div>

            @if (!User.Identity.IsAuthenticated)
            {
                <a class="login-item" asp-controller="Account" asp-action="Login">Inicio Sesión</a>
                <span style="color:#fff; margin-right:5px; font-size:30px">|</span>
                <a class="login-item" asp-controller="Account" asp-action="Register">Registrarse</a>
            }

            @if (User.Identity.IsAuthenticated)
            {
                <div class="logout">
                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit" class="logout-item" style="border: none; background: transparent; cursor: pointer;">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </form>
                </div>
            }
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>

    <footer>
        <div class="about">
            <h2 class="titulo">Informacion</h2>
            <p class="about-item">History</p>
            <p class="about-item">Our Team</p>
            <p class="about-item">Brand Guidelines</p>
            <p class="about-item">Terms & Condition</p>
            <p class="about-item">Privacy Policy</p>

        </div>

        <div class="services">
            <h2 class="titulo">Servicios</h2>
            <p class=" services-item">How to Order</p>
            <p class="services-item">Our Product</p>
            <p class="services-item">Order Status</p>
            <p class="services-item">Promo</p>
            <p class="services-item">Payment Meth</p>
        </div>

        <div class="contact">
            <h2 class="titulo">Redes Sociales</h2>
            <p class="parrafo-contact">
                Encuentra promociones y mas en nuestras redes!
            </p>

            <div class="footer-redes-sociales">
                <i class="fa-brands fa-instagram fa-2xl"></i>
                <i class="fa-brands fa-facebook fa-2xl"></i>
                <i class="fa-brands fa-twitter fa-2xl"></i>
                <i class="fa-brands fa-tiktok fa-2xl"></i>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/2964e4382f.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
